.img {
  @include m(logo) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @include m(frame) {
    @extend %imgframe;
  }
  @include m(avatar) {
    display: block;
    margin: $gutter-spacing auto;
  }
}

.grid__row {
  &:nth-of-type(4) {
    @include flexy($justify: space-around);
  }
}
