@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300,400,500,700");
.btn--default {
  background-color: #4cdbeb; }
  .btn--default:focus {
    background-color: #7ae4f0; }

.btn--success {
  background-color: #3cb950; }
  .btn--success:focus {
    background-color: #5dcb6f; }

.btn--error {
  background-color: #e65f6e; }
  .btn--error:focus {
    background-color: #ed8b96; }

.btn--warning {
  background-color: #fa7346; }
  .btn--warning:focus {
    background-color: #fb9978; }

.btn--info {
  background-color: #a07dcd; }
  .btn--info:focus {
    background-color: #bba2db; }

.grid__col--1 {
  text-align: center; }

.grid__col--2 {
  text-align: center; }

.grid__col--3 {
  text-align: center; }

.grid__col--4 {
  text-align: center; }

.grid__col--5 {
  text-align: center; }

.grid__col--6 {
  text-align: center; }

.grid__col--7 {
  text-align: center; }

.grid__col--8 {
  text-align: center; }

.grid__col--9 {
  text-align: center; }

.grid__col--10 {
  text-align: center; }

.grid__col--11 {
  text-align: center; }

.grid__col--12 {
  text-align: center; }

.nav__item, .nav__item a, .theme__colors, button[class^="btn"] {
  border: none;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px; }

.nav__item, .nav__item a {
  text-decoration: none;
  color: black;
  font-size: 12pt;
  font-weight: 300; }

.img--frame {
  padding: 15px;
  border: solid;
  border-width: 2px;
  border-color: grey; }

.theme__colors.grid__col--12, .theme__colors.grid__col--6, .theme__colors.grid__col--4, .theme__colors.grid__col--3, .theme__colors.grid__col--5, .theme__colors.grid__col--7, .theme__colors.grid__col--8 {
  margin: 5px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  flex-grow: 1; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: normal;
  max-width: 100%; }

ul {
  padding: 0;
  list-style-type: none; }

p {
  text-align: left;
  color: grey; }

.container {
  display: grid;
  grid-gap: 30px; }

.grid__row {
  margin-left: 5%;
  margin-right: 5%; }
  @media only screen and (min-width: 768px) {
    .grid__row {
      display: flex;
      flex-direction: row; } }

.theme__colors {
  color: grey; }
  .theme__colors.grid__col--12 {
    background-color: #00e0be; }
  .theme__colors.grid__col--6 {
    background-color: #16b6c7; }
  .theme__colors.grid__col--4 {
    background-color: #7ae4f0; }
  .theme__colors.grid__col--3 {
    background-color: #bba2db; }
  .theme__colors.grid__col--5 {
    background-color: #84d791;
    flex-grow: 2; }
  .theme__colors.grid__col--7 {
    background-color: #ed8b96;
    flex-grow: 3; }
    .theme__colors.grid__col--7.centered {
      background-color: #f0a1aa;
      margin-bottom: 40px; }
  .theme__colors.grid__col--8 {
    background-color: #fb9978;
    flex-grow: 2; }

@media only screen and (min-width: 768px) {
  .theme__colors[class^="grid__col"] {
    text-align: center;
    display: block; } }

.card {
  margin-bottom: 40px; }

.headline--primary {
  color: #00e0be; }

.headline--secondary {
  font-weight: 100;
  color: grey;
  text-align: left; }

.container > .headline--secondary {
  margin-left: 5%; }

.blockquote {
  border: solid;
  border-width: 0 0 0 10px;
  border-radius: 4px;
  border-color: #00e0be;
  padding-left: 20px;
  color: grey;
  font-style: italic;
  font-size: 20pt; }

.link {
  text-decoration: none;
  color: #4cdbeb;
  font-weight: 700; }

.grid__row:nth-of-type(3) {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .grid__row:nth-of-type(3) {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .grid__row:nth-of-type(3) .grid__col--8 {
        width: 55%; }
      .grid__row:nth-of-type(3) .grid__col--4 {
        width: 35%; } }

.nav {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around; } }

.nav__item a {
  padding-left: 35%;
  padding-right: 35%; }
  @media only screen and (min-width: 768px) {
    .nav__item a {
      padding-left: 15px;
      padding-right: 15px; } }
  .nav__item a[href="#type"] {
    background-color: #00e0be;
    color: white; }
    .nav__item a[href="#type"]:hover {
      background-color: #00ad93; }

@media only screen and (min-width: 768px) {
  .grid__col--9 {
    width: 50%; } }

.grid__row:first-of-type {
  align-items: center;
  justify-content: space-around; }

.img--logo {
  margin-top: 40px;
  margin-bottom: 40px; }
.img--avatar {
  display: block;
  margin: 15px auto; }

.grid__row:nth-of-type(4) {
  display: flex;
  justify-content: space-around; }

button[class^="btn"] {
  margin: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  flex-grow: 1; }

.grid__col--12 {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .grid__col--12 {
      display: flex;
      flex-direction: row;
      flex-grow: 1; } }

.form {
  display: flex;
  flex-direction: column; }

.form__input {
  margin: 10px auto;
  padding: 10px;
  border-style: solid;
  border-width: 0 0 7px 0;
  border-color: #00e0be;
  width: 90%; }
  .form__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 700; }
  .form__input:-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 700; }
  .form__input:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 700; }
  .form__input:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 700; }

.form__label--hidden {
  display: none; }

/*# sourceMappingURL=styles.css.map */
